table {
	text-align: center;
	background: #C0C0C0;
	margin: 20px auto;
	border: 2px #808000 solid;
	border-radius: 15px;
}
td {
	padding: 15px;	
}
td.tituloColumna {
	font-weight: bold;
	text-decoration: underline;
	text-decoration-color: #F0F0F0;
}